[submodule "tests/cpu-adtennant"]
	path = tests/cpu-adtennant
	url = https://github.com/adtennant/GameboyCPUTests.git
[submodule "lab/SameBoy"]
	path = lab/SameBoy
	url = https://github.com/LIJI32/SameBoy.git
[submodule "tests/mooneye"]
	path = tests/mooneye
	url = https://github.com/Gekkio/mooneye-test-suite.git
